
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.top_right {
  width: 40%; /* 40% width */
  height: 100%;
  background: url('/ab1.jpg') no-repeat center center;
  background-size: cover;
}


.top_left{
  width: 60%; /* 60% width */
  height: 100%;
  background: linear-gradient(to right, #013256, #026AA7);
  display: flex;
  flex-direction: column;
  color:white;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.top_left h1{
  margin-bottom: 5px;

}

.top_right h1 {
  font-size: 32px;
}

.top_right p {
  font-size: 18px;
  line-height: 1.5;
}

  
  /* Center Section */
  .center {
    display: flex;
    justify-content: center;
    width:100%;
    height:300px;

  }
  .center_left {
    width: 20%;
    height: 100%;
    background: linear-gradient(to bottom, #FF5733, #FF8C42);    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  
  .center_left h3 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin: 5px 0;
    animation: fadeIn 1s ease-in-out;
  }
  
  
  .center_mid {
    width: 60%;
    height: 100%;
    background: rgb(0, 0, 0,0.7);
    color: white;
    padding: 20px;
  }
  
  .center_mid h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .center_mid ul {
    list-style: none;
    padding: 0;
  }
  
  .center_mid li {
    font-size: 16px;
  }
  
  .center_right {
    width: 20%;
    height: 100%;
    background: url('/people.webp') no-repeat center center;
    background-size: cover;
  }


.bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 250px;
  }
  
  .bottom_left {
    width: 40%;
    height: 100%;
    background: url('/jhor1.jpg') no-repeat center center;
    background-repeat: no-repeat;

  size: 32px;
  text-align:center;
  align-items: center;
  justify-content: center;  
  }
  .bottom_left p {
    font-size: 32px; /* Increase size */
    font-weight: bold; /* Make text bold */
    color: white; /* Set text color to white */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Optional: Add shadow for better visibility */
    padding-top: 100px;
  }
  
  .bottom_right {
    width: 60%;
    height: 100%;
    background: linear-gradient(to left, #F4EAE0, #E0C9A6);
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .bottom_right h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .bottom_right p {
    font-size: 16px;
    line-height: 1.5;
  }
  