.mapbutton {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 3000;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mapbutton:hover {
  background-color: rgba(255, 140, 0, 1);
  transform: scale(1.08);
}

.mapbutton:active{
  background-color: rgba(255, 50, 0, 1);
  transform: scale(0.95);
}
