
.parent {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center; 
    align-items: center; 
    width: auto; 
    gap: 20px;
    padding: 40px; 
    margin-top: -30px;
}



.imageContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
   width:fit-content;
    height: fit-content;
    overflow: hidden; 
    gap: 10px;
   
}


.image1{
   
    object-fit: cover;
   
}
.image2{
    padding-top: 10px;
    object-fit: cover;
    margin-bottom: 0;
}

