.imageBackground {
  /*background-image: url("/sm.webp");*/
  /*background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  background: url('/embg2.webp'), 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 77, 64, 0.7));  
  background-size: cover;
  background-blend-mode: overlay;
  background-attachment: fixed;
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textContent{
  text-align: center;
  margin-bottom: 15px;
  align-items: center;
}

.textContent h1{
  font-size: 47px;
  font-weight: bold;
  color:#ff5900;
  padding-top: 15px;

}

.textContent h2{
  font-size: 41px;
  font-weight: bold;

  color: white;
  margin-bottom: 20px;
}
.listContainer{
  width:90%;
  background: rgba(249, 138, 3, 0.623);

  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  text-align: left;
  margin: 0 auto;
  border-radius: 10px;
  height: 560px;

}

.listContainer b {
  color: #800000;
}



.disasterCard {
  width: 100%;
  background: rgba(243, 238, 235, 0.51);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(222, 139, 30, 0.2);
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;

}

.listContainer ul{
  list-style-type: none;
}
.listContainer li{
  text-align: justify;
  font-size: 30px;
  margin-bottom: 10px;
}

.disasterContainer {
  width: 90%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
  margin:0 auto;
  margin-top: 20px;

}

.disasterImage {
  flex: 0 0 35%; /* Takes 30% of the disasterCard width */
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.disasterImage img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 10px;
}

.disasterContent p{
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
  font-weight: bolder;
  color:black;
  
}

.disasterContent ul,
.disasterContent ol {
  padding-left: 20px;
  list-style-type: none;

}

.disasterContent ul li,
.disasterContent ol li {
  font-size: 1.1rem;
  margin-bottom: 5px;
  line-height: 1.5;
}

.disasterContent ul li::before {
  content: "⚠"; /* Warning sign for extra emphasis */
  color: rgb(255, 51, 0);
  font-size: 1.2rem;
  margin-right: 5px;
}


.downloadButton {
  display: inline-block;
  background: red;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 14px;
}

.downloadButton:hover {
  background: darkred;
}

.disasterContent {
  flex: 1;
}

.disasterContent h3 {
  font-size: 1.5rem;
  color: #333;
}

